<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="container"> 
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>No está mal</h1>
            <h2><%= empresa %></h2>
            <p><%= añoFundacion %></p>
            <% if(nosDebeDinero){ %>
                <p>Moroso</p>
              <% } else{ %>  
                <p>Bienvenidx</p>
             <% } %>
        </div>
    </main>
</body>
<footer>
    <%- include('./partials/footer'); %>
</footer>
</html>